---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="" id="intro">
  <span slot="eyebrow" class="inline-flex items-center"><Icon name="cw" class="block h-12 sm:h-18 md:h-20" /> <span class="text-6xl font-extrabold">CW</span></span>
  <Fragment slot="lead">
    Chris Wu (he/him/his). <span class="text-primary">Taiwanese 🇹🇼 Drupaller</span>. OSS Contributor. 
    Enthusiastic to share about <span class="text-primary">Web tech</span>. 
    Love to <span class="text-primary">travel</span> around the world. 
  </Fragment>
  <div class="md:w-2/3 text-center">
    <p>Passionate about coffee and have recently developed an interest in AI technology. </p>
    <p>I am working hard every day to improve my Japanese and aim to give a presentation at a conference in Japanese. </p>
    <p>Love to traval and enjoy learning about different cultures and customs. 
    Dreaming to start a new life in Europe after retirement. </p>
    <p>While I take my work seriously, I also value a balanced lifestyle.</p>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <a
      
      class="flex items-center justify-center gap-3 border-2 border-current text-offset px-6 py-4 mt-4"
      title="Still in dev"
    >
      <Icon pack="mdi" name="book-open-page-variant-outline" class="h-8" />
      <span>My manual</span>
    </a>
    
  </div>
</ContentSection>
