---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="" id="intro">
  <span slot="eyebrow" class="inline-flex items-center"><Icon name="cw" class="block h-12 sm:h-18 md:h-20" /> <span class="text-6xl font-extrabold">CW</span></span>
  <Fragment slot="lead">
    Chris Wu (he/him/his). <span class="text-primary">Taiwanese 🇹🇼 Drupaller</span>. OSS Contributor. 
    Enthusiastic to share about <span class="text-primary">Web tech</span>. 
    Love to <span class="text-primary">travel</span> around the world. 
  </Fragment>
  <div class="md:w-2/3 text-lg text-left flex flex-col gap-4">
    <p>Passionate about coffee and have recently developed an interest in AI technology. 
    Working hard every day to improve my Japanese and aim to give a presentation at a conference in Japanese. </p>
    <p>While I take my work seriously, I also value a balanced lifestyle.</p>
    <p>Love to traval and enjoy learning about different cultures and customs. 
    Dreaming to start a new life in Europe after retirement. </p>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <!-- <button data-tooltip-target="tooltip-default" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Default tooltip</button>
     -->
    <a
      data-tooltip-target="tooltip-default" 
      class="flex items-center justify-center gap-3 border-2 border-current text-offset px-6 py-4 mt-4"
      title="Still in dev"
    >
      <Icon pack="mdi" name="book-open-page-variant-outline" class="h-8" />
      <span>My manual</span>
    </a>
    <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-purple-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-purple-400">
      Wanna how to use and work with me? Coming soon!
      <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  </div>
</ContentSection>
